mixin legal_heading(selected)
    section.page-title-bg.slice.bg-gradient-primary
        .container
            .row.justify-content-center
                .col-lg-8
                    h1.page-title-text.mt-4.font-weight-700.primary-underline Legal Things
                    .mt-4.lh-180
                        p.lead.text-block
                            | At
                            span.text-primary.font-weight-normal  SoStatic
                            | , we are committed to protecting and respecting your privacy.
    .section.slice
        .container
            .row
                .col-md-12
                    ul.nav.justify-content-center.legal-menu.my-5
                        li.nav-item
                            a.nav-link.h3(href='privacy.html', class=(selected==='privacy')?'active':'') Privacy
                        li.nav-item
                            a.nav-link.h3(href='terms.html', class=(selected==='terms')?'active':'') Terms
                        li.nav-item
                            a.nav-link.h3(href='gdpr.html', class=(selected==='gdpr')?'active':'') GDPR


header
    nav.navbar.navbar-expand-lg.navbar-light.d-none.d-lg-block
        .container
            a.navbar-brand(href='/')
                img.d-inline-block.align-middle.mr-2.pb-1(alt='', height='38px', src='../SVG/Logo_purple_full.svg')
            ul.navbar-nav.mr-auto.mt-3
                li.nav-item.active
                    a.nav-link(href='#') Home
                li.nav-item
                    a.nav-link(href='#') Features
                li.nav-item
                    a.nav-link(href='#') Pricing
            button.btn.btn-outline-primary.mr-2 Login
            button.btn.btn-outline-primary Sign-up